<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phê duyệt</title>
    <link rel="icon" href="/images/logotitle.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/views/css/Type2.css" />
    <link rel="stylesheet" href="/views/css/style.css" />
    <link rel="stylesheet" href="/views/css/admin2.css" />
</head>

<body style="overflow-x: hidden">
    <!-- navbar -->
    <!-- navbar -->
    <nav class="d-block d-lg-none navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/start.html">OBooks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/thongke">Thống kê</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/kiemduyet">Kiểm duyệt</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->
    <!-- navbar -->

    <div class="stackmain2">
        <div class="row">
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="d-none d-lg-block col-lg-2" style="height: 10vh; position: fixed; top: 5vh">
                <div class="p-3 col-12 mt-3" style="
              left: 15px;
              height: 10vh;
              border-radius: 5px;
              background-image: url(/views/images/logo.png);
              background-size: cover;
            "></div>
                <div class="p-3 mx-2 mt-3" style="">
                    <nav>
                        <div class="btn-control col-12 mt-3 p-2">
                            <a href="/thongke">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                    <path
                      d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"
                    />
                    <path
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1ZM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                    />
                  </svg> Thống kê
                            </a>
                        </div>
                        <div class="btn-control col-12 mt-1 p-2" style="
                  font-weight: bold;
                  opacity: 1;
                  background-color: rgb(43, 43, 43);
                ">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                    <path
                      d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"
                    />
                  </svg> Kiểm duyệt
                            </a>
                        </div>
                    </nav>
                </div>
                <center id="lienhe">
                    <div style="height: 50vh"></div>
                    <a id="dangxuat" href="/">Đăng xuất</a>
                </center>
            </div>

            <!-- center -->
            <div class="col-12 col-lg-10" style="">
                <div class="p-5" style="height: 100%">
                    <div class="" style="border-radius: 5px">
                        <div class="Notifi_bar">
                            <div class="p-2" style="width: 100%; font-weight: bold; color: white">
                                <div style="color: white;">
                                    <center>
                                        <h1 style="font-weight: bold;">Thông báo</h1>
                                        <hr style="width: 60vw" />
                                    </center>
                                </div>
                            </div>

                            <div style="width: 100%; height: 19rem; overflow-y: scroll">
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/bocau.png" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Ntmy :</span> đã đăng một cuốn sách mới, đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">Hôm nay</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/joinwick.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">John wick :</span> đã cập nhật một số thông tin cá nhân, chờ xác nhận.
                                                        </div>
                                                        <div class="day">4 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/giahan.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Hân :</span> đã đăng 1 cuốn sách mới, đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">5 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/quachtinh.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Ben :</span> đã đăng một bài viết và đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">7 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/quachtinh.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Ben :</span> đã đăng một bài viết và đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">7 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/quachtinh.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Ben :</span> đã đăng một bài viết và đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">7 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/quachtinh.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Ben :</span> đã đăng một bài viết và đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">7 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/quachtinh.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Ben :</span> đã đăng một bài viết và đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">7 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-1" style="text-align: center">
                                    <div class="col-12" style="text-align: left">
                                        <div class="post-comment">
                                            <div class="list">
                                                <div class="user">
                                                    <div class="user-image">
                                                        <img src="/views/images/avata/quachtinh.jpg" alt="" />
                                                    </div>
                                                    <div class="user-meta">
                                                        <div class="name_notifi">
                                                            <span class="name">Ben :</span> đã đăng một bài viết và đang chờ kiểm duyệt.
                                                        </div>
                                                        <div class="day">7 ngày trước</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5" style="">
                        <div style="color: white">
                            <center>
                                <h1 style="font-weight: bold;">Kiểm duyệt</h1>
                                <hr style="width: 60vw" />
                            </center>
                        </div>
                        <div class="row mx-0">
                            <div class="col-12 col-lg-3 mx-0 m-3" style="">
                                <div id="admin_card_1" class="admin_card_1" style="">
                                    <div class="card" style="width: 100%; height: 100%">
                                        <img src="/views/images/test/Obooks.png" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Test</h5>
                                            <p class="card-text">test</p>
                                            <a class="btn mr-2" onclick="OpenNoti('Notifi_Admin')"><i class="fas fa-link"></i>Xem</a
                        >
                        <a class="btn" onclick="DeleteObj('admin_card_1')"
                          ><i class="fab fa-github"></i> Loại bỏ</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>

          <div
            id="Noti_back"
            style="
              position: fixed;
              background: rgba(0, 0, 0, 0.5);
              top: 0;
              left: 0;
              height: 100vh;
              width: 100vw;
              z-index: 1;
              display: none;
            "
          ></div>
          <div
            id="Notifi_Admin"
            class=""
            style="
              position: fixed;
              display: block;
              top: 10vh;
              left: 20vw;
              overflow-y: scroll;
              background-color: antiquewhite;
              display: none;
              z-index: 2;
              border-radius: 5px;
              padding-bottom: 3rem;
              border: unset 1px black;
            "
          >
            <div
              class=""
              style="
                max-height: 80vh;
                width: 70vw;
                display: block;
                position: relative;
              "
            >
              <div
                class="Notifi_Admin_btn d-flex"
                style="position: absolute; top: 2vh; right: 2vh"
              >
                <div
                  id="Notifi_Admin_exitdiv"
                  class="Notifi_Admin_exitdiv"
                  style="
                    height: auto;

                    text-align: center;
                    background-color: rgb(0, 0, 0);
                    border: solid 1px black;
                    border-radius: 5px;
                    font-weight: bold;
                    cursor: pointer;
                    display: none;
                    color: white;
                  "
                >
                  <div
                    id="Noti_PhD"
                    class="p-1"
                    style=" border: solid 1px black"
                    onclick="Nopen('admin_card_1','Notifi_Admin_exitdiv','Notifi_Admin','Notifi_Admin_btnexit')"
                  >
                    Phê duyệt
                  </div>
                  <div
                    id="Noti_Xoa"
                    class="p-1"
                    style=" border: solid 1px black"
                    onclick="Ndelete('admin_card_1','Notifi_Admin_exitdiv','Notifi_Admin','Notifi_Admin_btnexit')"
                  >
                    Xoá
                  </div>
                  <div
                    id="Noti_QuL"
                    class="p-1"
                    style=" border: solid 1px black"
                    onclick="NClose('Notifi_Admin_exitdiv','Notifi_Admin','Notifi_Admin_btnexit')"
                  >
                    Quay lại
                  </div>
                </div>
                <div id="Notifi_Admin_btnexit" onclick="Notifi_Admin1_CS('Notifi_Admin_btnexit','Notifi_Admin_exitdiv')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                  </svg>
                </div>
              </div>
              <div
                class="Notifi_Admin_BookName pt-3"
                style="font-size: 2rem; text-align: center; font-weight: bold"
              >
                Test
              </div>
              <div class="Notifi_Admin_top mt-1">
                <div class="d-flex">
                  <div class="Notifi_Admin_user p-4">
                    <img
                      src="/views/images/test/Obooks.png"
                      alt=""
                      style="height: 16rem; width: 12rem"
                    />
                  </div>
                  <div class="">
                    <div class="Notifi_Admin_Titile pt-4 d-flex">
                      <div
                        style="font-weight: bold; font-size: 1rem; width: 6.3vw"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-person-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                          /></svg
                        >Tác giả:
                      </div>
                      <div
                        class="Notifi_Admin_TG px-1"
                        style="text-align: left"
                      >
                        test
                      </div>
                    </div>
                    <div class="Notifi_Admin_Titile pt-4 d-flex">
                      <div
                        style="font-weight: bold; font-size: 1rem; width: 6.3vw"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-cash"
                          viewBox="0 0 16 16"
                        >
                          <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                          <path
                            d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"
                          /></svg
                        >&nbsp;Tính phí:
                      </div>
                      <div
                        class="Notifi_Admin_TG px-1"
                        style="text-align: left"
                      >
                        Miễn phí
                      </div>
                    </div>
                    <div class="Notifi_Admin_Titile pt-4 d-flex">
                      <div
                        style="font-weight: bold; font-size: 1rem; width: 5.5vw"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-book"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
                          /></svg
                        >&nbsp;Mô tả:
                      </div>
                      <div
                        class="Notifi_Admin_BookBD1 px-3"
                        style="text-align: justify"
                      >
                        test
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Notifi_Admin_body mt-3 mx-3" style="">
                <div>
                  <div
                    style="
                      font-size: 1.5rem;
                      font-weight: bold;
                      text-align: left;
                    "
                  >
                    Nội dung
                  </div>
                </div>
                <div>
                  <center><hr style="width: 60vw" /></center>
                </div>
                <div>
                  <div class="row mt-1">
                    <div
                      class="col-2 mt-1"
                      onclick="Notifi_info('Notifi_Admin','Notifi_ImgDiv')"
                    >
                      <img
                        src="/views/images/test/Obooks.png"
                        alt=""
                        style="width: 100%"
                      />
                    </div>
                    
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/5.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/6.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/7.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/8.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/9.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/10.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/11.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/12.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/13.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/14.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="col-2 mt-1">
                    <img
                      src="/views/reading2/samples/docs/pages/15.png"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                </div>
                <div style="height: 5rem"></div>
              </div>
            </div>
          </div>

          
        </div>
        <div
          id="Notifi_ImgDiv"
          
          style="
           position: fixed;
            top: 2vh;
            left: 20vw;
            z-index: -1;
            border-radius: 5px;
            padding-bottom: 3rem;
            border: unset 1px black;
           display: block;
           opacity: 0;
           background-color:antiquewhite;
          "
        >
       
          <div
            class=""
            style="
              width: 71vw;
              height: 91vh;
             
            "
          > 
            <div
              class="Notifi_Admin_btn d-flex"
              style="position: absolute; top: 3vh; right: 3vh; z-index:4;"
            >
              <div onclick="Notifi_Admin1_CSd('Notifi_Admin','Notifi_ImgDiv');">
                
                  <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                  </svg>
                
              </div>
            </div>
            <center>
         
              <div id="cardslide_ImgDiv_Top" class="cardslide_ImgDiv_Top pt-3" style="height: 37rem">
                <img src="/views/images/test/Obooks.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/5.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/6.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/7.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/8.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/9.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/10.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/11.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/12.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/13.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/14.png" alt="" />
                <img src="/views/reading2/samples/docs/pages/15.png" alt="" />
           
              </div>
    
           
           
                <div id="cardslide_ImgDiv_Bot" class="cardslide_ImgDiv_Bot mt-2 pt-1" style="width: 80%; height: 10rem">
                  <img src="/views/images/test/Obooks.png" alt="" />
                  <img
                    
                    src="/views/reading2/samples/docs/pages/5.png"
                    alt=""
                  />
                  <img
                
                    src="/views/reading2/samples/docs/pages/6.png"
                    alt=""
                  />
                  <img
             
                    src="/views/reading2/samples/docs/pages/7.png"
                    alt=""
                  />
                  <img
            
                    src="/views/reading2/samples/docs/pages/8.png"
                    alt=""
                  />
                  <img
         
                    src="/views/reading2/samples/docs/pages/9.png"
                    alt=""
                  />
                  <img
              
                    src="/views/reading2/samples/docs/pages/10.png"
                    alt=""
                  />
                  <img
                  
                    src="/views/reading2/samples/docs/pages/11.png"
                    alt=""
                  />
                  <img
             
                    src="/views/reading2/samples/docs/pages/12.png"
                    alt=""
                  />
                  <img
              
                    src="/views/reading2/samples/docs/pages/13.png"
                    alt=""
                  />
                  <img
                 
                    src="/views/reading2/samples/docs/pages/14.png"
                    alt=""
                  />
                  <img
           
                    src="/views/reading2/samples/docs/pages/15.png"
                    alt=""
                  />
                  
                </div>
          
            </center>
          </div>
        </div>
        <!-- /center -->
        <!-- right -->
        <!-- right -->
      </div>
    </div>
    <!-- scroll to top -->
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
     <script>
      function Notifi_Admin1_CSd(x,y){

      let main = document.getElementById(x);
      let Info = document.getElementById(y);
       
        Info.style.zIndex = -1;
        Info.style.opacity = "0";
        main.style.display = "block";
     }

      function openback() {
        let back = document.getElementById("Noti_back");
        back.style.display = "block";
      }
      function closeback() {
        let back = document.getElementById("Noti_back");
        back.style.display = "none";
      }
      function Notifi_Admin1_CS(s, x) {
        let N_close = document.getElementById(s);
        let N_open = document.getElementById(x);
        N_close.style.display = "none";
        N_open.style.display = "block";
      }
      function OpenNoti(s) {
        let N_open = document.getElementById(s);
        N_open.style.display = "block";
        openback();
      }
      function DeleteObj(s) {
        let N_close = document.getElementById(s);
        N_close.style.display = "none";
        closeback();
      }
      function Nopen(v, x, y, z) {
        let a = document.getElementById(x);
        let b = document.getElementById(y);
        let c = document.getElementById(z);
        let e = document.getElementById(v);
        a.style.display = "none";
        b.style.display = "none";
        c.style.display = "block";
        e.style.display = "none";
        closeback();
      }
      function Ndelete(v, x, y, z) {
        let a = document.getElementById(x);
        let b = document.getElementById(y);
        let c = document.getElementById(z);
        let e = document.getElementById(v);
        a.style.display = "none";
        b.style.display = "none";
        c.style.display = "block";
        e.style.display = "none";
        closeback();
      }
      function NClose(x, y, z) {
        let a = document.getElementById(x);
        let b = document.getElementById(y);
        let c = document.getElementById(z);
        a.style.display = "none";
        b.style.display = "none";
        c.style.display = "block";
        closeback();
      }

      function Notifi_info(x, y) {
        let main = document.getElementById(x);
        let Info = document.getElementById(y);
       
        Info.style.zIndex = 3;
        Info.style.opacity = "1";
        main.style.display = "none";
        
        
      }
    </script>
    <script src="/views/js/app.js"></script>
   
  </body>
</html>