/* notifi admin */
.post-comment .list {
  background-color: rgb(245, 225, 200);
  border-radius: 6px;
  box-shadow: 0 2px 2px #0002;
  width: 100%;
}

.post-comment .list .user {
  display: flex;
  padding: 8px;
  overflow: hidden;
}

.post-comment .list .user img {
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
  background: whitesmoke;
}

.post-comment .list .day {
  font-size: 12px;
}

.post-comment .list .name {
  font-weight: bold;
}

.post-comment .list .name_notifi {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-comment .comment-post {
}

/* adimin */

:root {
  --gradient: linear-gradient(to left top, #757856 10%, #53633d 90%) !important;
}

.admin_card_1 .card {
  background: antiquewhite;
  border: 1px solid #cdf906;
  color: black;
  margin-bottom: 2rem;
}

.admin_card_1 .btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.admin_card_1 .btn:hover,
.admin_card_1 .btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

:-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
  width: 1px;
}

/* .cardslide_ImgDiv_Bot .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50.16%);
  z-index: 5;
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  width: 7%;
  height: 71%;
  opacity: 1;
  background-color: red;
  z-index: 3;
} */

.cardslide_ImgDiv_Top .slick-center {
}

.cardslide_ImgDiv_Top {
}

.cardslide_ImgDiv_Top {
  overflow: hidden;
}

.cardslide_ImgDiv_Top img {
  height: 38rem;
}

.cardslide_ImgDiv_Bot {
  height: 6.9rem;
  overflow: hidden;
}

.cardslide_ImgDiv_Bot img {
  opacity: 0.5;
  margin: 0 0.3rem;
  width: 100%;
}

.cardslide_ImgDiv_Bot .slick-center {
  opacity: 1;
}

#Noti_PhD:hover {
  color: lightgreen;
}
#Noti_Xoa:hover {
  color: red;
}
#Noti_QuL:hover {
  color: yellow;
}
