.test1 {
    width: 1029px;
    height: 566px;
    background-color: rgb(255, 0, 0);
    clip-path: polygon(0% 44%, 11% 51%, 25% 58%, 46% 56%, 64% 46%, 80% 35%, 91% 30%, 97% 33%, 100% 60%, 100% 100%, 0% 100%);
}