.card {
    border: none;
    background: rgb(255, 255, 255);
    min-width: 100px;
    height: 400px;
    margin-bottom: 10px;
}

.cardName {
    font-size: x-large;
    font-weight: 700;
    display: flex;
}

.img-avatar {
    width: 100%;
    height: 150px;
    min-width: 70px;
    min-height: 250px;
    object-fit: cover;
    border: solid;
}

.btn {
    margin: 5px;
    font-weight: 100%;
    display: inline-block;
    margin-bottom: 0%;
}

.containerBG {
    background: linear-gradient(to bottom left, #a30fd4 10%, #ffc39e 100%);
}

.card-body {
    min-width: 70px;
}


/* new */